.allPckrObj .ui-slider {
    position: relative;
}
.allPckrObj .ui-slider-horizontal .ui-slider-handle {
    top: -.3em;
}

.allPckrObj .ui-slider .ui-slider-handle {
    position: absolute;
    cursor: default;
}

.allPckrObj {
    width: 365px;
    height: 108px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.allPckrObj .CLPinnerRange {
    width: 256px;
    float: left;
}

.allPckrObj .CLPpicker {
    clear: left;
    height: 91px;
    width: 365px;
}

.allPckrObj .CLPblock .ui-slider {
    height: 5px;
    border: 0;
    background: white;
}

.allPckrObj .CLPblock .ui-slider-handle {
    height: 8px;
    width: 9px;
    border: 0;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAICAYAAAArzdW1AAAAg0lEQVR42l2PwQnDMBAExybVOM9LK04JUhtp41SC3IrvKbezASSC4oWDYxkGFknMl/ake7cypRxFsQf5/dLc/2j/uFJLkiSaaTZ2oLq8ueZYRTbAP0PPOYHduLKBbw5AXAEYMX5/OhA8uCAfhULGMGgAHTYMMBZJY411G4ENmxF4PZcvgTuN7NZ2mGAAAAAASUVORK5CYII=);
    margin-left: -4.5px;
    outline: none;
    border-radius: 0;
}

.allPckrObj .CLPrangeValue {
    width: 20px;
    font-size: 10px;
    margin-left: 10px;
}

.allPckrObj .CLPrangeName {
    float: left;
    margin-right: 10px;
    font-size: 10px;
    padding-top: 3px;
}

.allPckrObj .CLPblock {
    height: 25px;
}

.allPckrObj .CLPblocks {
    float: left;
    width: 310px;
    height: 75px;
}

.allPckrObj .CLPcolorPreview {
    width: 50px;
    height: 50px;
    float: left;
    margin-top: 11px;
    margin-left: 3px;
    border: 1px #000 solid;
}

.allPckrObj .CLPcolorPreview2 {
    height: 33px;
    width: 84px;
    position: absolute;
    right: 0;
    bottom: 0;
    border: 1px solid #000;
}

.allPckrObj .CLPpaletteBlock {
    clear: both;
    padding-left: 45px;
}

.allPckrObj .CLPpalette {
    cursor: crosshair;
}

.allPckrObj .CLPcompleteColor {
    width: 365px;
    height: 91px;
    clear: left;
    position: relative;
}

.allPckrObj .CLPcompleteColorButton {
    height: 13px;
    width: 13px;
    border-left: 1px #000 solid;
    border-top: 1px #000 solid;
    float: left;
    cursor: pointer;
}

.allPckrObj .CLPcompleteColorButton:nth-child(26n) {
    border-right: 1px #000 solid;
}

.allPckrObj .CLPcompleteColorButton:nth-child(n+79) {
    border-bottom: 1px #000 solid;
}

.allPckrObj .CLPcompleteColorButton:nth-child(n+105) {
    border-top: none;
}

.allPckrObj .CLPtab {
    border: 1px solid #686868;
    border-bottom: none;
    font-size: 13px;
    width: 60px;
    text-align: center;
    border-radius: 5px 5px 0 0;
    float: left;
    background-color: #D6D5D5;
    cursor: default;
}

.allPckrObj .CLPtab:hover {
    background-color: #D6D5E7;
}

.allPckrObj .CLPtabFirst {
    margin-right: 1px;
}

.allPckrObj .CLPselectTab {
    border-color: #B9B9B9;
    background-color: rgba(0, 0, 0, 0);
}

.allPckrObj .CLPselectTab:hover {
    background-color: rgba(0, 0, 0, 0);
}

.allPckrObj .CLPhide {
    display: none;
}